@media (min-width: 480px) {
  .screenshot {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 479px) {
  .screenshot {
    width: 100%;
    margin-top: 36px;
  }
}

.buttons {
  display: flex;
  margin-top: 36px;

  a {
    text-decoration: none !important;
  }

  .button {
    & + .button {
      margin-left: 12px;
    }
  }
}