.container {
  background: #4B5248;
}

.header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    &.transparent {
      background: none;
    }
  }

  .header {
    height: 50px;

    img {
      width: 163px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 40px;

    img {
      width: 120px;
    }
  }
}