.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  transition: all 0.15s;

  &.scrolled {
    background: white;
    border-bottom-color: rgba(0,0,0,0.1);
  }
}

.light {
  .link {
    color: white;
  }
}

.container {
  display: flex;
  align-items: center;
}

.left {
  margin-right: auto;
}

.link,
.button {
  & + .button {
     margin-left: 20px;
  }
}

.link {
  @mixin body3;
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  transition: all 0.15s;
  color: $darkGray;

  /* Prevent link from changing width when bolded */
  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
  }

  &:hover {
    color: $blue;
  }

  &.active {
    font-weight: 600;
    pointer-events: none;
  }
}

@media (max-width: 479px) {
  .blogLink {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    &.transparent {
      background: none;
    }
  }

  .container {
    height: 48px;

    .link,
    .button {
      height: 48px;
      line-height: 48px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 48px;

    .link,
    .button {
      height: 48px;
      line-height: 48px;
    }
  }
}