.container {
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 48px;
  padding-bottom: 36px;
}

.footer {
  min-height: 190px;

  /* Themes */
  &:not(.light) {
    h4, .info {  color: rgba(0,0,0,0.35); }
    li {  }
  }

  &.light {
    h4, .info {  color: rgba(255,255,255,0.6); }
    li {  color: white; }
  }

  h4 {
    @mixin body3;
    font-weight: 500;
  }

  li {
    margin-top: 0;

    &:first-child {
      margin-top: 6px;
    }
  }

  a {
    display: inline-block;
    padding: 6px 0;

    &:hover {
      color: $blue;
      transition: all 0.15s;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 16px;
    font-weight: 500;
  }

  .blurb {
    flex: 1 1 auto;
    margin-top: 12px;
  }

  .copyright {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (min-width: 1200px) {
  .companyLinks {
    lost-column: 2/12;
    lost-offset: 1/12;
  }

  .productLinks {
    lost-column: 2/12;
  }

  .info {
    lost-column: 4/12;
    lost-offset: 2/12;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .companyLinks {
    lost-column: 2/12;
  }

  .productLinks {
    lost-column: 2/12;
  }

  .info {
    lost-column: 6/12;
    lost-offset: 2/12;
  }
}

@media (min-width: 480px) and (max-width: 999px) {
  .companyLinks {
    lost-column: 3/12;
  }

  .productLinks {
    lost-column: 3/12;
  }

  .info {
    lost-column: 6/12;
  }
}

@media (min-width: 480px) {

}

@media (max-width: 479px) {
  .companyLinks {
    lost-column: 4/12;
  }

  .productLinks {
    lost-column: 4/12;
  }

  .info {
    margin-top: 36px;
    lost-column: 12/12;
  }
}