.sensorContainer {
  lost-column: 2/12;
  position: relative;
}

.sensor {
  position: absolute;
  right: 0;
  top: 0;
  width: 337px;
  height: 793px;
}

.buttons {
  display: flex;
  margin-top: 24px;

  .button {
    & + .button {
      margin-left: 12px;
    }
  }
}