body,
button,
input {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 14px;
  color: $bodyColor;
}

h2 {
  font-size: 48px;
  font-weight: 200;
  letter-spacing: -0.012em;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

:global(.link) {
  color: $linkColor;

  &:global(.active) {
    font-weight: 600;
    color: inherit;
    cursor: pointer;
  }
}