@font-face {
  font-family: 'Aktiv Grotesk';
  font-weight: 400;
  src: url("./assets/AktivGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Aktiv Grotesk';
  font-weight: 500;
  src: url("./assets/AktivGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Aktiv Grotesk';
  font-weight: 700;
  src: url("./assets/AktivGrotesk-Bold.otf") format("opentype");
}

@define-mixin heading2 {
  font-weight: 500;

  @media screen and (min-width: 1000px) {
    font-size: 48px;
    line-height: 60px;
  }

  @media screen and (max-width: 999px) {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.012em;
  }
}

@define-mixin heading3 {
  font-weight: 500;

  @media screen and (min-width: 1000px) {
    font-size: 36px;
    line-height: 48px;
  }

  @media screen and (max-width: 999px) {
    font-size: 36px;
    line-height: 48px;
  }
}

@define-mixin body1 {
  font-weight: 400;

  @media screen and (min-width: 1000px) {
    font-size: 24px;
    line-height: 36px;
  }

  @media screen and (max-width: 999px) {
    font-size: 20px;
    line-height: 28px;
  }
} 

@define-mixin body2 {
  font-weight: 400;

  @media screen and (min-width: 1000px) {
    font-size: 20px;
    line-height: 36px;
  }

  @media screen and (max-width: 999px) {
    font-size: 20px;
    line-height: 36px;
  }
} 

@define-mixin body3 {
  font-weight: 400;

  @media screen and (min-width: 1000px) {
    font-size: 14px;
    line-height: 24px;
  }

  @media screen and (max-width: 999px) {
    font-size: 14px;
    line-height: 24px;
  }
} 

body,
button,
input {
  font-family: 'Aktiv Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $bodyColor;
}

h2 {
  @mixin heading2;
}

p, li {
  @mixin body3;

  h2 + & {
    margin-top: 36px;
  }

  p + &,
  li + & {
    margin-top: 24px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

:global(.link) {
  color: $linkColor;

  &:global(.active) {
    font-weight: 600;
    color: inherit;
    cursor: pointer;
  }
}