@define-mixin heading2 {
  font-weight: 300;

  @media screen and (min-width: 1000px) {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.012em;
    margin-bottom: 18px;
  }

  @media screen and (max-width: 999px) {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.012em;
    margin-bottom: 10px;
  }
}

@define-mixin body1 {
  font-weight: 400;

  @media screen and (min-width: 1000px) {
    font-size: 24px;
    line-height: 32px;
  }

  @media screen and (max-width: 999px) {
    font-size: 20px;
    line-height: 28px;
  }
} 

@define-mixin body2 {
  font-weight: 400;

  @media screen and (min-width: 1000px) {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px;
  }

  @media screen and (max-width: 999px) {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 18px;
  }
} 

body,
button,
input {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $bodyColor;
}

h2 {
  @mixin heading2
}

p {
  @mixin body1;
}

a {
  text-decoration: underline;
  color: inherit;
}

:global(.link) {
  color: $linkColor;

  &:global(.active) {
    font-weight: 600;
    color: inherit;
    cursor: pointer;
  }
}