.container {
  
}

.content {
  box-sizing: border-box;

  h2 {
    @mixin heading3; 
  }

  p {
    @mixin body2; 
  }

  a {
    color: $green;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: color($green shade(10));
    }
  }
}

@media (min-width: 1200px) {
  .content {
    lost-column: 6/12;
    lost-offset: 1/12;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .content {
    lost-column: 7/12;
  }
}

@media (min-width: 480px) and (max-width: 999px) {
  .content {
    lost-column: 8/12;
  }
}

@media (min-width: 480px) {
  .content {
    padding: 60px 0;
  }
}

@media (max-width: 479px) {
  .content {
    lost-column: 12/12;
    padding: 36px 0;
  }
}